@import "~vuetify/src/styles/styles.sass";

$headings: (
  "h1": (
    "size": 6rem,
    "weight": 300,
    "line-height": 6rem,
    "letter-spacing": -0.015625em,
    "font-family": $heading-font-family
  ),
  "h2": (
    "size": 3.75rem,
    "weight": 300,
    "line-height": 3.75rem,
    "letter-spacing": -0.0083333333em,
    "font-family": $heading-font-family
  ),
  "h3": (
    "size": 3rem,
    "weight": 400,
    "line-height": 3.125rem,
    "letter-spacing": normal,
    "font-family": $heading-font-family
  ),
  "h4": (
    "size": 2.125rem,
    "weight": 400,
    "line-height": 2.5rem,
    "letter-spacing": 0.0073529412em,
    "font-family": $heading-font-family
  ),
  "h5": (
    "size": 1.5rem,
    "weight": 400,
    "line-height": 2rem,
    "letter-spacing": normal,
    "font-family": $heading-font-family
  ),
  "h6": (
    "size": 1.25rem,
    "weight": 500,
    "line-height": 2rem,
    "letter-spacing": 0.0125em,
    "font-family": $heading-font-family
  ),
  "subtitle-1": (
    "size": 1rem,
    "weight": 400,
    "line-height": 1.75rem,
    "letter-spacing": 0.009375em
  ),
  "subtitle-2": (
    "size": 0.875rem,
    "weight": 500,
    "line-height": 1.375rem,
    "letter-spacing": 0.0071428571em
  ),
  "body-2": (
    "size": 0.875rem,
    "weight": 400,
    "letter-spacing": 0.0178571429em,
    "line-height": 1.25rem
  ),
  "body-1": (
    "size": 1rem,
    "weight": 400,
    "letter-spacing": 0.03125em,
    "line-height": 1.5rem
  ),
  "caption": (
    "size": 0.75rem,
    "weight": 400,
    "letter-spacing": 0.0333333333em,
    "line-height": 1.25rem
  ),
  "overline": (
    "size": 0.625rem,
    "weight": 400,
    "letter-spacing": 0.1666666667em,
    "line-height": 1rem
  )
);
